.snippet {
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px 20px;
}

.snippet-title {
  margin-bottom: 0;
  margin-top: 0;
  @extend %font;
  font-weight: $font-weight-medium;
  font-size: 24px;
}

.snippet-subtitle {
  margin-top: 10px;
  @extend %font;
  font-size: 16px;
}

.snippet-details-spacing { padding-left: 5px; }
.snippet-details-spacing-3x { padding-left: 15px; }

.snippet-details {
  padding: 1px 4px;
  border-radius: 5px;
  @extend %font;
  font-weight: 400;
  font-size: 12px;
}

.snippet-tag {
  display: inline-block;
  margin-top: 10px;
  @extend %font;
  font-weight: 400;
  font-size: 12px;
}

@media screen and (max-width: $max-width + 40px) {
  .snippet-title {
    font-size: 20px;
  }

  .snippet-tag,
  .snippet-details {
    font-size: 10px;
  }
}
