.theme {
  display: inline-block;
  float: right;
  margin-top: 20px;
}

.theme-label {
  display: inline;
}

input[type="checkbox"][id^="themeToggle"] {
  display: none;
}

.theme-image {
  cursor: pointer;
  opacity: 1;
  max-width: 35px;
}

.theme-hidden {
  display: none;
}

.rotate {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: rotate(720deg);
  transform: rotate(720deg);
}
