$background-color-dark: #292A32;
$background-color-light: #FFFEFE;
$complimentary-color-dark: #393B43;
$complimentary-color-light: #F2F2F2;
$subtitle-text-color: #C3C3C6;
$post-snippet-hover-light: #F2F2F2;
$post-snippet-hover-dark: #393B43;
$post-snippet-details-tag-background: #C5C5F4;
$post-snippet-details-tag-color: #7F7FDA;
$subtitle-color: #FF595C;

body {
  background-color: $background-color-light;
  color: $background-color-dark;

  .category-text,
  .search-box,
  .newsletter-email-box,
  .newsletter-submit-button-inactive {
    background-color: $post-snippet-hover-light;
    color: $background-color-dark;
  }
  .category-text:hover {
    background-color: #E0E0E0;
  }
  .category-text-focus {
    background-color: $post-snippet-details-tag-background;
    color: $post-snippet-details-tag-color;
  }

  .post-snippet-details {
    background-color: $post-snippet-details-tag-background;
    color: $post-snippet-details-tag-color;
  }
  .post-snippet-tag { color: $subtitle-text-color; }
  .post-snippet:hover { background-color: $post-snippet-hover-light; }
  .post-content-subheader { color: $subtitle-text-color; }

  .anchor { color: $background-color-dark; }

  .blog a {
    color: $post-snippet-details-tag-color;
  }

  ::selection {
    background-color: $complimentary-color-light;
  }

  .search-box, .newsletter-email-box {
    border: 2px solid $post-snippet-hover-light;
  }

  .search-box:focus, .newsletter-email-box:focus {
    border: 2px solid $post-snippet-details-tag-color;
  }

  .newsletter-submit-button-active {
    background-color: $post-snippet-details-tag-color;
    color: $post-snippet-details-tag-background;
  }

  .newsletter-response {
    color: $post-snippet-details-tag-color;
  }

  .MuiButtonBase-root {
    color: $complimentary-color-dark;
  }

  .MuiButtonBase-root:hover {
    color: $complimentary-color-dark;
    background-color: $post-snippet-hover-light;
  }

  .Mui-selected {
    color: $post-snippet-details-tag-color;
    background-color: $post-snippet-details-tag-background;
  }

  blockquote {
    color: $background-color-dark;
    background-color: $complimentary-color-light;
    border-left: 6px solid $post-snippet-details-tag-background;

    &::before { color: $background-color-light; }
  }
}

body.dark-mode {
  background-color: $background-color-dark;
  color: $background-color-light;

  .category-text,
  .search-box,
  .newsletter-email-box,
  .newsletter-submit-button-inactive {
    background-color: $complimentary-color-dark;
    color: $background-color-light;
  }
  .category-text:hover {
    background-color: #5B5E6C;
  }
  .category-text-focus {
    background-color: $post-snippet-details-tag-background;
    color: $post-snippet-details-tag-color;
  }

  .post-snippet:hover { background-color: $post-snippet-hover-dark; }

  .anchor { color: $background-color-light; }
  .blog a {
    color: $post-snippet-details-tag-color;
  }

  ::selection {
    background-color: $post-snippet-hover-dark;
  }

  .search-box, .newsletter-email-box {
    border: 2px solid $complimentary-color-dark;
  }

  .search-box:focus, .newsletter-email-box:focus {
    border: 2px solid $post-snippet-details-tag-color;
  }

  .MuiButtonBase-root {
    color: $complimentary-color-light;
  }

  .MuiButtonBase-root:hover {
    color: $complimentary-color-light;
    background-color: $post-snippet-hover-dark;
  }

  .Mui-selected {
    color: $post-snippet-details-tag-color;
    background-color: $post-snippet-details-tag-background;
  }

  blockquote {
    color: $background-color-light;
    background-color: $complimentary-color-dark;
    border-left: 6px solid $post-snippet-details-tag-background;

    &::before { color: $background-color-dark; }
  }
}
