@font-face {
  font-family: 'Proxima Nova';
  font-display: auto;
  src: url('../assets/fonts/Proxima Nova/ProximaNovaThin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Proxima Nova';
  font-display: auto;
  src: url('../assets/fonts/Proxima Nova/ProximaNovaRegular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  font-display: auto;
  src: url('../assets/fonts/Proxima Nova/ProximaNovaSemibold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Proxima Nova';
  font-display: auto;
  src: url('../assets/fonts/Proxima Nova/ProximaNovaBold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Circular';
  font-display: auto;
  src: url('../assets/fonts/Circular/CircularStd-Medium.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Circular';
  font-display: auto;
  src: url('../assets/fonts/Circular/CircularStd-Bold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Circular';
  font-display: auto;
  src: url('../assets/fonts/Circular/CircularStd-Black.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../assets/fonts/Inconsolata/Inconsolata.otf') format('opentype');
  font-weight: 700;
}

$font-family: 'Proxima Nova';
$font-size: 20px;
$font-weight: 100;

%font {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}

.blog {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: 18px;
}

.blog-title-text-main {
  font-family: 'Circular';
  font-size: 36px;
  font-weight: 700;
}

.blog-title-text-sub {
  font-family: 'Circular';
  font-size: 24px;
  font-weight: 700;
}

.title-text {
  @extend %font;
  font-size: 24px;
  font-weight: 600;
}

.bio, .blog-bio {
  @extend %font;
  font-size: 18px;
  font-weight: 100;
}

.bio-content-text {
  @extend %font;
  font-size: 20px;
}

.bio-title-text {
  @extend %font;
  font-size: 20px;
}

.category-text-focus,
.category-text {
  @extend %font;
  font-size: 18px;
}

/* Post Snippet */
.post-snippet-title {
  @extend %font;
  font-weight: 600;
  font-size: 24px;
}

.post-snippet-tag,
.post-snippet-details {
  @extend %font;
  font-weight: 600;
  font-size: 12px;
}

.post-snippet-subtitle {
  @extend %font;
  font-size: 16px;
}

.post-content-subheader {
  @extend %font;
  font-size: 24px;
  font-weight: 400;
}

.footer-text {
  @extend %font;
  font-size: 14px;
}

.blog a {
  font-weight: 400;
}

@media screen and (max-width: $max-width + 40px) {
  .category-text-focus,
  .category-text {
    font-size: 16px;
  }

  .post-snippet-title {
    font-size: 20px;
  }

  .post-snippet-tag,
  .post-snippet-details {
    font-size: 10px;
  }
}
