@import 'animation';

$max-width: 700px;

.wrapper {
  max-width: $max-width;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}

.category-text-focus,
.category-text {
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: none;
  background: none;
  outline: none;
}

.posts {
  margin-top: 20px;
}

.header {
  display: inline-block;
  float: left;
}

.bio {
  margin-top: -25px;
  margin-bottom: 40px;
  max-width: 350px;
}

.theme {
  display: inline-block;
  float: right;
  margin-top: 45px;
}

.clear {
  clear: both;
}

/* Post Snippet */
.post-snippet {
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px 20px;
}
.post-snippet-title {
  margin-bottom: 0;
  margin-top: 0;
}
.post-snippet-subtitle { margin-top: 10px; }
.post-snippet-details-spacing { padding-left: 5px; }
.post-snippet-details {
  padding: 1px 4px;
  border-radius: 5px;
}
.post-snippet-link p { text-decoration: none !important; }
.post-snippet-tag {
  display: inline-block;
  margin-top: 10px;
}

.footer {
  bottom: 0;
  text-align: center;
  width: 100%;
}

.footer-text {
  display: inline-block;
  text-decoration: none;
  padding: 25px 10px;
}

.blog > img {
  width: 100px;
}

.blog a {
  @extend .anchor;
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}

.blog img {
  max-width: 700px;
  border-radius: 15px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

@media screen and (max-width: $max-width + 40px) {
  .footer-text {
    display: inline-block;
    text-decoration: none;
    padding: 50px 5px;
  }
}
