$max-width: 700px;

.wrapper {
  max-width: $max-width;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}

.category-text-focus,
.category-text {
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: none;
  background: none;
  outline: none;
}

.posts {
  margin-top: 30px;
}

/* Post Snippet */
.post-snippet {
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px 20px;
}
.post-snippet-title {
  margin-bottom: 0;
  margin-top: 0;
}
.post-snippet-subtitle { margin-top: 10px; }
.post-snippet-details-spacing { padding-left: 5px; }
.post-snippet-details {
  padding: 1px 4px;
  border-radius: 5px;
}
.post-snippet-link p { text-decoration: none !important; }
.post-snippet-tag {
  display: inline-block;
  margin-top: 10px;
}
