@import 'margin';
@import 'font';
@import 'color';

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}

a { text-decoration: none !important; }
.no-overflow { overflow-x: hidden !important; }

img {
  max-width: 100% !important;
  height: auto !important;
  margin: auto !important;
}

code {
  font-size: 14px !important;
}

.link,
.link:hover {
  text-decoration: none !important;
}

.runstats {
  width: 600px;
  height: 380px;
}

@media screen and (max-width: 720px) {
    .runstats {
      width: 98%;
      height: 360px;
    }
}
