body.dark-mode {
  background-color: $dark-background-color;
  color: $dark-text-color;

  .category-text,
  .search-box,
  .newsletter-email-box,
  .newsletter-submit-button-inactive {
    background-color: $dark-complimentary-color;
    color: $dark-text-color;
  }
  .category-text:hover {
    background-color: #5B5E6C;
  }
  .category-text-focus {
    background-color: $theme-secondary-color;
    color: $theme-primary-color;
  }

  .snippet:hover { background-color: $dark-complimentary-color; }

  .anchor { color: $dark-text-color; }
  .blog a {
    color: $theme-primary-color;
  }

  ::selection {
    background-color: $dark-complimentary-color;
  }

  .search-box, .newsletter-email-box {
    border: 2px solid $dark-complimentary-color;
  }

  .search-box:focus, .newsletter-email-box:focus {
    border: 2px solid $theme-primary-color;
  }

  .MuiButtonBase-root {
    color: $dark-text-complimentary-color;
  }

  .MuiButtonBase-root:hover {
    color: $dark-text-complimentary-color;
    background-color: $dark-complimentary-color;
  }

  .Mui-selected {
    color: $theme-primary-color;
    background-color: $theme-secondary-color;
  }

  blockquote {
    color: $dark-text-color;
    background-color: $dark-complimentary-color;
    border-left: 6px solid $theme-secondary-color;

    &::before { color: $dark-background-color; }
  }

  a { color: $dark-text-color }
  a:visited { text-decoration: none; color: $dark-text-color; }
  a:hover { text-decoration: none; color: $dark-text-color; }
  a:focus { text-decoration: none; color: $dark-text-color; }
  a:hover, a:active { text-decoration: none; color: $dark-text-color }
}
