@font-face {
  font-family: 'Avenir Next';
  font-display: auto;
  src: url('../assets/fonts/avenir-next/avenir-next-light.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Avenir Next';
  font-display: auto;
  src: url('../assets/fonts/avenir-next/avenir-next-regular.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Avenir Next';
  font-display: auto;
  src: url('../assets/fonts/avenir-next/avenir-next-medium.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir Next';
  font-display: auto;
  src: url('../assets/fonts/avenir-next/avenir-next-bold.ttf') format('truetype');
  font-weight: 600;
}

// @font-face {
//   font-family: 'Inconsolata';
//   src: url('../../assets/fonts/inconsolata/inconsolata.otf') format('opentype');
//   font-weight: 700;
// }
