$viewport-width: 650px;
$viewport-padding: 20px;
$post-snippet-margin: 50px;

$font-weight-light: 100;
$font-weight-regular: 200;
$font-weight-medium: 400;
$font-weight-bold: 600;

$font-family: 'Avenir Next';
$font-size: 16px;
$font-weight: $font-weight-light;

$light-background-color: #FFFEFE;
$light-text-color: #393B43;
$light-text-complimentary-color: #393B43;
$light-complimentary-color: #F2F2F2;

$dark-background-color: #292A32;
$dark-text-color: #FFFEFE;
$dark-text-complimentary-color: #F2F2F2;
$dark-complimentary-color: #393B43;

$theme-primary-color: #7F7FDA;
$theme-secondary-color: #C5C5F4;
$theme-neutral-color: #C3C3C6;

%font {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}
